body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
/* Yêu cầu cho nav và ảnh trong nav */
nav {
    display: inline-block;
    width: 80%;
}

nav img {
    width: 10%;
}

/* Yêu cầu cho lớp Lưới (Grid 2 cột) */
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
}

.grid img {
    width: 100%;
}

/* Yêu cầu cho lớp Flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
